<h5 class="center-align">Services</h5>
<div class="row">
  <div class="col s12 m3">
    <div class="card hoverable">
      <div class="card-image">
        <%= image_tag "rising-damp-large.jpg" %>
      </div>
      <div class="card-content">
        <p>We offer complete solutions to repair, replace or insert a damaged or missing damp proof course.</p>
      </div>
      <div class="card-action">
        <%= link_to "Rising damp treatment", rising_damp_path %>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card hoverable">
      <div class="card-image">
        <%= image_tag "penetrating-damp.jpg" %>
      </div>
      <div class="card-content">
        <p>We not only fix the internal damage we will also repair the cause which could be faulty guttering, damaged brickwork or something else. We'll find it and fix it.</p>
      </div>
      <div class="card-action">
        <%= link_to "Penetrating damp treatment", penetrating_damp_path %>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card hoverable">
      <div class="card-image">
        <%= image_tag "rot.jpg" %>
      </div>
      <div class="card-content">
        <p>We identify the fungus to ensure the correct treatment, locate the source and rectify it as well as treating all affected masonry and timber so the rot doesn't come back.</p>
      </div>
      <div class="card-action">
        <%= link_to "Wet rot and dry rot treatment", rot_path %>
      </div>
    </div>
  </div>

  <div class="col s12 m3">
    <div class="card hoverable">
      <div class="card-image">
        <%= image_tag "leak-damage.jpg" %>
      </div>
      <div class="card-content">
        <p>Our specialist plasterers and carpenters can make good flood damaged floors and walls.</p>
      </div>
      <div class="card-action">
        <%= link_to "Repairing flood or leak damage", flood_leak_damage_path %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m3">
    <div class="card hoverable">
      <div class="card-image">
        <%= image_tag "basement-conversion.jpg" %>
      </div>
      <div class="card-content">
        <p>The Damp Doctor are specialists in basement conversions including basement tanking damp proofing the room so you can use it for more than just storing wine.</p>
      </div>
      <div class="card-action">
        <%= link_to "Basement conversions", basement_conversions_path %>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card hoverable">
      <div class="card-image">
        <%= image_tag "monocouche-render.jpg" %>
      </div>
      <div class="card-content">
        <p>Coloured, durable and decorative weatherproof external finish to make your home look good and keep out the extremes of the British weather.</p>
      </div>
      <div class="card-action">
        <%= link_to "Monocouche render", monocouche_rendering_path %>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card hoverable">
      <div class="card-image">
        <%= image_tag "wood-worm.jpg" %>
      </div>
      <div class="card-content">
        <p>Woodworm destroys wooden timbers in your home and will also attack wooden furniture. We can treat the woodworm and the cause of the infestation.</p>
      </div>
      <div class="card-action">
        <%= link_to "Woodworm treatment", woodworm_treatment_path %>
      </div>
    </div>
  </div>
  <div class="col s12 m3">
    <div class="card hoverable">
      <div class="card-image">
        <%= image_tag "plastering.jpg" %>
      </div>
      <div class="card-content">
        <p>When you have damp problems you may require the plaster on the walls to be repaired or replaced. This is another service offered by The Damp Doctor.</p>
      </div>
      <div class="card-action">
        <%= link_to "Plastering", plastering_path %>
      </div>
    </div>
  </div>
</div>
