<% provide(:title, "Contact The Damp Doctor") %> 

<script>
function initialize() {
  var myLatlng = new google.maps.LatLng(55.056997,-1.593596);
  var mapOptions = {
zoom: 9,
      center: myLatlng
  }
  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var marker = new google.maps.Marker({
position: myLatlng,
map: map,
title: 'The Damp Doctor'
});
}

google.maps.event.addDomListener(window, 'page:load', initialize);

</script>
<div class="contact">
  <h5>Contact</h5>
  <h6>Call or send an email if you have any queries or to request a free survey</h6>
  <hr>
  <div class="row">
    <div class="col s12 m6 l6">
      <div class="row">
        <%= form_for @contact, url: contact_path, class: "col s12" do |f| %>

          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <div class="row">
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          </div>
            <% end %>
          <% end %>

          <% if @contact.errors.any? %>
            <div class="row">
          <div id="error_explanation">
            <div class="alert alert-danger">
              The form contains <%= pluralize(@contact.errors.count, "error") %>.
            </div>
            <ul>
              <% @contact.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
        <% end %>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">person</i>
            <%= f.text_field :name %>
            <%= f.label :name, "Name:" %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <%= f.email_field :email %>
            <%= f.label :email, "Email:" %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">phone</i>
            <%= f.number_field :phone %>
            <%= f.label :phone, "Phone number" %>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <%= f.text_area :body, class: "materialize-textarea", placeholder: "Your Message" %>
          </div>
        </div>

        <div class="hide">
          <%= f.label :nickname, "Nickname:" %>
          <%= f.text_field :nickname %>
        </div>

        <%= f.button class: "btn-large orange waves-effect waves-light" do %>
          Send<i class="mdi-content-send right"></i>
        <% end %>

      </form>
    </div>
  </div>

  <div class="col s12 m6 l6 contact-holder">
    <h6 class="mdi-action-home">Address</h6>
    <p><%= t(:address_line_1)%>, <%= t(:address_line_2) %>, <%= t(:address_line_3) %>, <%= t(:county) %>, <%= t(:post_code) %></p>
    <h6 class="mdi-maps-local-phone">Office Number</h6>
    <p><%= t(:office_number) %></p>
    <h6 class="mdi-hardware-phone-android">Mobile Number</h6>
    <p><%= t(:mobile_number) %></p>
    <h6 class="mdi-content-mail">Email</h6>
    <p><%= t(:email) %></p>
    <div id="map-canvas" class="z-depth-4"></div>
  </div>
</div>
</div>

<% end %>

<script>
var $viewportMeta = $('meta[name="viewport"]');
$('input, select, textarea').bind('focus blur', function(event) {
    $viewportMeta.attr('content', 'width=device-width,initial-scale=1,maximum-scale=' +        (event.type == 'blur' ? 10 : 1));
    });
</script>
